body{
    background-color: aquamarine;
    
    .basit{
        background-color: rgba(23, 236, 232, 0.753);
        border-radius: 100px;
        width:200px;
        height:200px;
        }
        
        
}