.body{
    background-color: rgb(0, 0, 0);    
  
}
.mavi{
    background-color: rgba(23, 161, 236, 0.753);
    border-radius: 100px;
    width:200px;
    height:200px;
    opacity: 0.5;
    margin-top: 300;
    margin-left: 900;
    }
.pembe{
    background-color: rgba(218, 23, 236, 0.623);
    border-radius:  100px;
    width:200px;
    height:200px;
    opacity: 0.5;
    margin-top:-200;
    margin-left: 800;
    }
 .yeşil{
    background-color: rgba(236, 232, 23, 0.623);
    border-radius: 100px;
    width:200px;
    height:200px;
    opacity: 0.5;
    margin-top:-100;
    margin-left: 850;
    }

    .tmavi{
        background-color: rgba(23, 161, 236, 0.753); 
    }
    .tyeşil{
        background-color: rgba(44, 236, 23, 0.684);  
    }
    .tmor{
        background-color: rgba(118, 0, 129, 0.623);  
    }
    .tsarı{
        background-color: rgba(255, 221, 0, 0.753); 
    }
    .tpembe{
        background-color: rgba(236, 23, 154, 0.684);  
    }
    .tboşluk{
        background-color: rgba(248, 199, 252, 0.623);  
    }
    .tbilgi{
        background-color: rgba(147, 222, 254, 0.623);  
    }
    .tkırmızı{
        background-color: rgba(236, 23, 23, 0.684);  
    }
    .tturuncu{
        background-color: rgb(251, 109, 0);
    }
    .tkyeşil{
        background-color: rgb(0, 255, 60);
    }
    
